# secure htaccess file
<Files .htaccess>
 order allow,deny
 deny from all
</Files>

# disable directory browsing
Options All -Indexes

# disabel access to logs/template files
<Files ~ "\.(log|tpl)$">
 order allow,deny
 deny from all
</files>