# secure htaccess file
<Files .htaccess>
 order allow,deny
 deny from all
</Files>

# disable directory browsing
Options All -Indexes

# disable access to logs/template files
<Files ~ "\.(log|tpl)$">
 order allow,deny
 deny from all
</files>

# only images can be accessed in the uploaded folder
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/uploaded [NC]
RewriteCond %{REQUEST_URI} !\.(jpe?g|png|gif)$ [NC]
RewriteRule .* - [F,L]

# If you are getting 500 errors try setting this to your charset
# AddDefaultCharset utf-8

# BLOCK USER AGENTS
RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} beast [NC,OR]
RewriteCond %{HTTP_USER_AGENT} curl [NC,OR]
RewriteCond %{HTTP_USER_AGENT} echo [NC,OR]
RewriteCond %{HTTP_USER_AGENT} grab [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Firefox/2\. [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Firefox/3\. [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Firefox/4\. [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Firefox/5\. [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Firefox/6\. [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Firefox/8\. [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Firefox/1 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Firefox/2 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Chrome/1 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Chrome/2 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Chrome/9\. [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Chrome/3 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Mozilla/1 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Mozilla/3 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Mozilla/4 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} AskTbPTV [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Baiduspider [NC,OR]
RewriteCond %{HTTP_USER_AGENT} DotBot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Fast [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Iceweasel [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Info [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Java [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Jorgee [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Konqueror [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Media [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Morfeus [NC,OR]
RewriteCond %{HTTP_USER_AGENT} NerdyBot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Netcraft [NC,OR]
RewriteCond %{HTTP_USER_AGENT} PeoplePal [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Presto/2 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Project [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Research [NC,OR]
RewriteCond %{HTTP_USER_AGENT} spbot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Survey [NC,OR]
RewriteCond %{HTTP_USER_AGENT} test [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Thumbtack [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Trident/5 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} YandexBot [NC,OR]
RewriteCond %{HTTP_USER_AGENT} console [NC,OR]
RewriteCond %{HTTP_USER_AGENT} dictionary [NC,OR]
RewriteCond %{HTTP_USER_AGENT} inspect [NC,OR]
RewriteCond %{HTTP_USER_AGENT} invoker [NC,OR]
RewriteCond %{HTTP_USER_AGENT} jsp [NC,OR]
RewriteCond %{HTTP_USER_AGENT} nutch [NC,OR]
RewriteCond %{HTTP_USER_AGENT} probethenet [NC,OR]
RewriteCond %{HTTP_USER_AGENT} robots [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Opera\ 7 [NC]
RewriteRule !^robots\.txt$ - [F]

# BLOCK SITE REFERRERS
RewriteEngine on
RewriteCond %{HTTP_REFERER} 7makemoneyonline\.com [NC,OR]
RewriteCond %{HTTP_REFERER} google\.com/search [NC,OR]
RewriteCond %{HTTP_REFERER} nigmaru\.com [NC,OR]
RewriteCond %{HTTP_REFERER} success\-seo\.com [NC,OR]
RewriteCond %{HTTP_REFERER} dump [NC,OR]
RewriteCond %{HTTP_REFERER} game [NC,OR]
RewriteCond %{HTTP_REFERER} semalt [NC,OR]
RewriteCond %{HTTP_REFERER} seo [NC,OR]
RewriteCond %{HTTP_REFERER} sql [NC,OR]
RewriteCond %{HTTP_REFERER} try [NC,OR]
RewriteCond %{HTTP_REFERER} video [NC,OR]
RewriteCond %{HTTP_REFERER} website\.com [NC,OR]
RewriteCond %{HTTP_REFERER} zoltanric\.com [NC,OR]
RewriteCond %{HTTP_REFERER} zongzonsia\.com [NC,OR]
RewriteCond %{HTTP_REFERER} xrumertool [NC,OR]
RewriteCond %{HTTP_REFERER} \?\+ [NC,OR]
RewriteCond %{HTTP_REFERER} \+ [NC]
RewriteRule .* - [F]

# BLOCK BLANK USER AGENTS
RewriteCond %{HTTP_USER_AGENT} ^-?$
RewriteRule ^ - [F]
